<h1>Hot 15 in /r/<%= @posts.first.subreddit %></h1>
<div class="well col-md-10">
  <table class="table table-hover table-striped table-responsive">
    <thead>
      <th>#</th>
      <th>Score</th>
      <th>Article / View on Reddit</th>
      <th>Comments</th>
    </thead>
    <tbody>
      <% @posts.each_with_index do |post, index| %>
        <tr id="post-<%= index + 1 %>">
          <td class="text-center post_num"><%= index + 1 %></td>
          <td class="text-center post_score"><%= post.score %></td>
          <td class="post_title"><%= link_to post.title, post.url %></td>
          <td class="text-center post_num_comments"><%= link_to post.num_comments, post.comments_url %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
